<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <footer th:fragment="footer">
        <footer class="py-4 bg-light mt-5 ">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; IFSUL TADS 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
    </footer>
    </footer>
    
    <nav th:fragment="navAll">
      
      <nav class=" navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/index/inicial">SAVA-PC</a>
        <!-- Sidebar Toggle-->
        
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        
        <div sec:authorize="isAuthenticated()">
            <span class="text-white " sec:authentication="name"> </span>
          </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li sec:authorize="not isAuthenticated()"><a class="dropdown-item" href="/login">Login</a></li>
                    <li sec:authorize="not isAuthenticated()"><a class="dropdown-item" href="/registrationAluno">Registrar-se</a></li>
                    <li><a class="dropdown-item" href="/help">Ajuda</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    </nav>

    <nav th:fragment="navProf">
      
        <nav class=" navbar navbar-expand navbar-dark bg-dark">
          <a class="navbar-brand ps-3" href="/index/inicial">SAVA-PC</a>
        <a class="nav-link text-white p-1 " href="/painelgeral" ><i class="fa fa-book me-1" aria-hidden="true" style="color: white;"></i>Painel Geral</a> 
          <!-- Navbar Search-->
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
              <div class="input-group">
                  <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                  <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
              </div>
          </form>
          <div sec:authorize="isAuthenticated()">
            <span class="text-white " sec:authentication="name"> </span>
          </div>
          <!-- Navbar-->
          <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                      <li sec:authorize="not isAuthenticated()"><a class="dropdown-item" href="/login">Login</a></li>
                      <li sec:authorize="not isAuthenticated()"><a class="dropdown-item" href="/registrationAluno">Registrar-se</a></li>
                      <li><a class="dropdown-item" href="/help">Ajuda</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      </nav>
</body>
</html>