<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Habilidades</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>

	<div th:insert="fragments/frag :: navProf"></div>

	<div class="container mt-2">
		<div class="row">
			<!-- Inicio Bloco Modal -->
			<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
				data-bs-target="#insertHabilidade">Inserir Nova Habilidade</button>

			<div class="modal" id="insertHabilidade" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle"> Inserir Nova Habilidade</h5>
							<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</div>
						<div class="modal-body">
							<form method="post" th:action="@{/index/{testeId}/{perguntaId}/saveHabilidade(testeId=${testeId},perguntaId=${perguntaId})}">
								<div class="mb-3">
									<label for="nome" class="form-label">Nome</label>
									<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome*">
								</div>
								<button type="submit" class="btn btn-secondary">Salvar</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Fim Bloco Modal -->
		</div>
		<th:block th:include="mensagemValidacao"></th:block>
		<div class="row">
			<div class="col">
				<form method="post" th:object="${lhab}">
					<input type="number" id="testeId" name="testeId" th:value="${testeId}" hidden>
					<div class="col-lg-10 mt-5 mb-5">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Nome </t>
									<th scope="col">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="h, i: ${habilidades}">
									<td th:text="${h.habilidadeId}"></td>
									<td th:text="${h.nome}"></td>
									<td><a class="btn btn-secondary"
											th:href="@{/index/teste/{testeId}/pergunta/{perguntaId}/deletehabilidade/{id}
											(id=${h.habilidadeId}, testeId=${testeId}, perguntaId=${perguntaId})}"
											role="button">Deletar</a>
										

										<!-- Inicio Bloco Modal -->
										<button type="button" class="btn btn-secondary" data-bs-toggle="modal"
											th:attr="data-bs-target='#updateHabilidade_'+${h.habilidadeId}">Editar</button>
										<div class="modal" th:id="updateHabilidade_+${h.habilidadeId}" tabindex="-1"
											aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Atualizar
															Habilidade</h5>
														<button type="button" class="close" data-bs-dismiss="modal"
															aria-label="Close">
															<i class="fa fa-times" aria-hidden="true"></i>
														</button>
													</div>
													<div class="modal-body">
														<form method="post"
															th:action="@{/index/teste/{testeId}/pergunta/{perguntaId}/updatehabilidade/{id}
															(id=${h.habilidadeId},testeId=${testeId},perguntaId=${perguntaId})}">
															<div class="mb-3">
																<label for="nome" class="form-label">Nome</label>
																<input type="text" class="form-control" id="nome"
																	name="nome" th:value="${h.nome}">
															</div>
															<button type="submit"
																class="btn btn-secondary">Salvar</button>
														</form>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Cancelar</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Bloco Modal -->
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox"
												th:name="|habilidades[${i.index}].habilidadeId|"
												th:value="${h.habilidadeId}">
											<label class="form-check-label">Utilizar</label>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<button type="submit" class="btn btn-secondary mt-2">Salvar</button>
				</form>
			</div>
			<div class="col-2 mt-4 p-1">
				<h4>Testes inclusos</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nome </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="habilidade, j: ${habilidadesPergunta}">
							<td><span th:text="${habilidade.nome}"></span><span><svg xmlns="http://www.w3.org/2000/svg"
										width="16" height="16" fill="currentColor" class="bi bi-check-lg"
										viewBox="0 0 16 16">
										<path
											d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
									</svg></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>
<footer>

</footer>

</html>