<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bem vindo!</title>
        
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		
    </head>
    <body>
        <div sec:authorize="hasRole('ROLE_PROF')">
            <div th:insert="fragments/frag :: navProf"></div>
          </div>
          <div sec:authorize="not isAuthenticated()">
            <div th:insert="fragments/frag :: navAll"></div>
          </div>
          <div sec:authorize="hasRole('ROLE_ALUNO')">
            <div th:insert="fragments/frag :: navAll"></div>
          </div>
        <th:block th:include="mensagemValidacao"></th:block>
        <header class=" bg-dark bg-gradient text-white p-4">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Bem Vindo ao SAVA-PC</h1>
                <p class="lead">Sistema de auxilio para a avaliação do Pensamento Computacional</p>
                <a class="btn btn-lg btn-light" href="#about">Conheça!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4 mt-2 ">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Sobre o sistema</h2>
                        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4 mt-2">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Para quem</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4 mt-2">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Entre em contato</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                    </div>
                </div>
            </div>
        </section>
            

        
                   
        


       
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
    <footer>
        <div th:insert="fragments/frag :: footer"></div>
    </footer>
</html>
