<!DOCTYPE html >
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perguntas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<style>
		 .bor{border-bottom:solid black 1px; }
		 .nav-item:hover{background-color:#a9a8eb; color:white;}
		 .btn:hover{background-color:#a9a8eb; color:white;}
		 .active{ border-bottom:solid red 1px;}
		</style>
	</head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
		<div th:insert="fragments/frag :: nav"></div>
		
		<div class="container mt-2">
			 <div class="row">
				<a class="btn btn-outline-primary" th:href="@{/index/teste/savePergunta/{id}(id=${testeId})}" role="button">Inserir Pergunta</a>
            <th:block th:insert="mensagemValidacao"></th:block>
            <div class="col-lg-10 mt-5 mb-5" >
				<span> TesteID:</span><h4 class="mt-2 mb-2" th:text="${testeId}"> </h4>
				<span> Nome do teste:</span><h4 class="mt-2 mb-2" th:text="${testeNome}"> </h4>
                <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descricao</th>
						<th scope="col">Imagem</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr  th:each="p, i: ${perguntas}">
                        <td th:text="${p.perguntaTesteId}"></td>
                        <td th:text="${p.titulo}"></td>
                        <td th:text="${p.descricao}"></td>         
                        <td><img class="m-2 border" width="200px" th:src="@{/index/teste/perguntas/{id}/imagem/{img}(img=${perguntas[__${i.index}__].img})}" alt="imgPergunta"> </td>
						<td><a class="btn btn-outline-primary" 
						th:href="@{/index/deletepergunta/{testeId}/{perguntaId}(testeId=${testeId}, perguntaId=${p.perguntaTesteId})}" role="button">Deletar</a>
                            <a class="btn btn-outline-primary" 
							th:href="@{/index/updatepergunta/{id}(id=${p.perguntaTesteId})}" role="button">Editar</a>
							<a class="btn btn-outline-primary" 
							th:href="@{/index/pergunta/opcoesresposta/{id}(id=${p.perguntaTesteId})}" role="button">Opções Resposta</a>
							<form method="post" th:action="@{/index/pergunta/opcoesresposta/{perguntaid}/{testeid}(perguntaid=${perguntaTesteId})(testeid=${testeId})}"></form><a class="btn btn-outline-primary" 
							 th:href="@{/index/pergunta/habilidades/{perguntaId}/{testeId}(perguntaId = ${p.perguntaTesteId}, testeId=${testeId}) }">Habilidades</a>
                        </td>
                    </tr>
                    </tbody>
                </table>         
          </div>  
        </div>
			
		</div>
    </body>
    <footer>
        
    </footer>
</html>

