<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>relatorio</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
		<link th:href="@{/css/styles.css}" rel="stylesheet">
		<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	</head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
		<div th:insert="fragments/frag :: navAll"></div>

		

		<th:block th:insert="mensagemValidacao"></th:block>
		<div class="mx-auto " style="max-width: auto;" > 
			<table class="table align-middle mb-0 bg-white rounded" style="border: solid gray 3px;">
				<thead class="bg-light">
				  <tr>
					<th scope="col">Teste</th>
					<th scope="col">Turma</th>
					<th scope="col">Aluno</th>
					<th scope="col">N.totalQuestões</th>
					<th scope="col">N.Questões Corretas</th>
					<th scope="col">H1</th>
					<th scope="col">H2</th>
					<th scope="col">H3</th>
					<th scope="col">H4</th>
					<th scope="col">H5</th>
					<th scope="col">Peso</th>
					<th scope="col">NotaFinal</th>
					<th scope="col">Recomendação</th>
					<th scope="col">Opções</th>
				  </tr>
				</thead>
				<tbody >
				  <tr th:each="c , i : ${contabilizacoes}">
					<td>
					  <p class="fw-normal mb-1" th:text="${c.teste}">TesteX</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.turma}">TurmaX</p>
					</td>
					<td>
						<div class="d-flex align-items-center">
							<div class="ms-3">
							  <p class="fw-bold mb-1" th:text="${c.aluno}">AlunoX</p>
							  <p class="text-muted mb-0" th:text="${c.matricula}">MatriculaX</p>
							</div>
						  </div>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQ}">nQuestoes</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQcorretas}">nQuestoesCertas</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQChab1}">nQChab1</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQChab2}">nQChab2</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQChab3}">nQChab3</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQChab4}">nQChab4</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.nQChab5}">nQChab5</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.peso}">pesoTeste</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.valorTotal}">NotaFinal</p>
					</td>
					<td>
						<p class="fw-normal mb-1" th:text="${c.recomendacao}">recomendacao</p>
					</td>
					<td>
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal" th:attr="data-bs-target='#updateTeste_'+${c.testeId}" >Editar</button>
					
							<div class="modal" th:id="updateTeste_+${c.testeId}"  tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle" >Atualizar Teste</h5>
									<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
									</div>
									<div class="modal-body">
										<form method="post" th:action="@{/index/updatetestepeso/{id}(id=${c.testeId})}">
											
											<div class="mb-3">
												<label for="peso" class="form-label">Peso</label>
												<input type="number" step="0.01" class="form-control" id="peso" name="peso" th:value="${c.peso}">
											</div>
												<button type="submit" class="btn btn-secondary">Salvar</button>	
										  </form>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar
									</button>
									</div>
								</div>
								</div>
							</div>
					</td>
				  </tr>
				</tbody>
			  </table>
			 <div class="mx-auto text-center">
				<a type="button" class="btn btn-secondary mt-2" th:href="@{/index/exportarRelatorio/{turmaId}(turmaId=${turma.turmaId})}">
					Exportar relatório
				</a>
			 </div> 
			  
		</div>
		
		
	
    </body>
    <footer>
        <div style="margin-top:20%;" th:insert="fragments/frag :: footer"></div>
    </footer>
</html>

