<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questionario</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<style>
		 .bor{border-bottom:solid black 1px; }
		 .nav-item:hover{background-color:#a9a8eb; color:white;}
		 .btn:hover{background-color:#a9a8eb; color:white;}
		 .active{ border-bottom:solid red 1px;}

		</style>
	</head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
		<div th:insert="fragments/frag :: nav"></div>
		
		<div class="container-fluid mt-2">
			<div class="row">
				 <div class="col-md-6 offset-md-3 " style="width: 30rem;">
            <th:block th:include="mensagemValidacao"></th:block>
            
					  <form  method="post" th:action="@{/index/updatequestionario/{id}(id=${questionario.questionarioId})}">
						
						<div class="form-group mt-2">
						 <label class="control-label" for="nome"> Nome </label>
						 <input id="nome" class="form-control" name="nome" th:value="${questionario.nome}" 
						  required autofocus="autofocus" />
						</div>
				   
						<div class="form-check mt-2 form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="visibilidade" name="visibilidade" th:checked="${questionario.visibilidade}">
							<label class="form-check-label" for="visibilidade" >Visibilidade</label>
						 </div>
						<div class="form-group mt-2">
							<label class="control-label" for="disponibilidade"> Disponibilidade </label> 
							<input type="date" id="disponibilidade" class="form-control" required
							 autofocus="autofocus" name="disponibilidade" th:value="${questionario.disponibilidade}"/>
						</div>

						<div class="form-group mt-2">
						<button type="submit" class="btn bor mt-2">Salvar</button>
						</div>
					</form>
				</div>
			</div>
			
		</div>
    </body>
    <footer>
        
    </footer>
</html>

